{
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["**/templates/**/*.html"],
            "options": {
                "parser": "melody"
            }
        }
    ],
    "plugins": ["prettier-plugin-django"]
}
