{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Template</title>
        <meta charset="utf-8" />
        <meta content="django forecast application" name="description" />
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            {% for item in forecasts %}
                <li>
                    Day {{ forloop.counter }}: {{ item }}
                    {% if item == 'Rainy' %}
                        <img src="https://icongr.am/fontawesome/umbrella.svg" alt="umbrella" />
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>
            <a href="{% url 'root' %}">Top page</a>
        </p>
    </body>
</html>
