{% load django_bootstrap5 %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Template</title>
        <meta charset="utf-8" />
        <meta content="django forecast application" name="description" />
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% fontawesome_5_static %}
    </head>
    <body>
        <div class="container mt-4">
            <h1 class="fw-bold mt-3 mb-3">{{ title }}</h1>
            <div class="row">
                {% for item in forecasts %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Day {{ forloop.counter }}</h5>
                                <p class="card-text">{{ item }}</p>
                                {% if item == 'Rainy' %}
                                    {% fa5_icon 'umbrella' 'fas' %}
                                {% elif item == 'Cloudy' %}
                                    {% fa5_icon 'cloud' 'fas' %}
                                {% elif item == 'Sunny' %}
                                    {% fa5_icon 'sun' 'fas' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="mt-3">
                <a href="{% url 'root' %}" class="btn btn-primary">Top page</a>
            </p>
        </div>
    </body>
</html>
